.roadmapLine {
  position: relative;
  height: 600px;
  width: 7px;
  background-color: black; 
  margin: 20px auto;
  box-sizing: border-box;
  border: 2px solid white;
}

.fill {
  position: absolute;
  width: 3px; 
  background-color: white;
  transition: height 0.5s ease;
  z-index: 1;
}
.circle {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid white;
  display: inline-block;
  position: absolute; 
  left: -8px;
  z-index: 2;
}
.circle.filled {
  background-color: white;
}

.checkpoint {
  font-size: 1rem;
  font-size: clamp(1rem, 0.94rem + 0.30000000000000004vw, 1.3rem);
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 3; 
}

.checkpointText{
  color: white;
  margin-left: 10px;
  white-space: nowrap;
}


.roadmapCheckpointTextWithLink {
  text-decoration: none;
  cursor: pointer;
}

.roadmapCheckpointTextWithLink:hover {
  text-decoration: underline;

}

@media (max-width:490px){
  .roadmapLine{
    transform: translateX(-4rem);
  }
}


@media (max-width:350px){
  .roadmapLine{
    transform: translateX(-6.0rem);
  }
  .checkpoint >span{
    margin-left: 5px;
  }

}

@media (max-width:315px){
  .roadmapLine{
    transform: translateX(-6.5rem);
  }
}