.footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
    padding: 6rem 0;
    padding-bottom: 1rem;
}

.textButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.2rem;
    padding-bottom: 1.5rem;
}


.socialImage{
    cursor: pointer;
}


@media (max-width:1000px){
    .textButtons{
        gap: 0;
    }
}

@media (max-width:540px){
    .textButtons{
        flex-direction: column;
    }
}


@media (max-width:800px) {
    .footer {
        padding: 1rem;
    }
}