.about{
    padding: 1rem 0;
    padding: 8rem 0;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}


.right{
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 300px;
}

.right > Image {
    height: 100%;
    object-fit: contain; 
}

.left{
    flex: 1;
}

@media (max-width:560px){
    .about{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .right{
        min-height: 200px;
    }
}

@media (max-width:800px) {
    .about{
        padding: 1rem;
    }
}