.textButton{
    cursor: pointer;
    border: 1px solid black;
    padding: 1rem;
}

.textButton:hover{
    border: 1px solid white;
}

@media (max-width:900px){
    .textButton{
        padding: 0.4rem;
    } 
}


@media (max-width:525px){
    .textButton{
        padding: 0.3rem;
    }   
}

@media (max-width:540px){
    .textButton{
        min-width: 200px;
        text-align: center;
    }
}