.box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
}

.title{
    font-size: 2rem;
    font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}

.text{
    font-size: 1.3rem;
    font-size: clamp(1.3rem, 1.06rem + 1.2vw, 2.5rem);
}

@media (max-width:560px){
    .box{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .right{
        min-height: 200px;
    }
}